* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

#menu-icon {
    font-size: 3.2rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

body {
    color: #ededed;
    background: #081b29;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    /* background: #051129; */
    background: rgba(3, 12, 31, 0.85);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(0, 238, 255, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 21px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    color: #0ef;
}

.navbar a.active {
    color: #0ef;
    text-shadow: 0 0 10px #0ef;
}


/*==========================
        HOME SECTION
==========================*/

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    padding: 110px 10% 70px;
}

.home-content {
    flex: 0.8;
    margin-bottom: 160px;
    max-width: 650px;
}

.home-content h3 {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
}

.home-content h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.1;
    color: #fff;
    margin-bottom: 15px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .3s;
}

.home-content h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 25px;
    color: #fff;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .6s;
}

.home-content h2 span {
    color: #0ef;
}

.home-content p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #d9d9d9;
    margin-bottom: 35px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .8s;
}

/*==========================
      SOCIAL ICONS
==========================*/

.home-sci {
    display: flex;
    gap: 18px;
    margin-bottom: 40px;
}

.home-sci a {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid #0ef;
    border-radius: 50%;
    color: #0ef;
    font-size: 20px;

    text-decoration: none;
    transition: .35s;
}

.home-sci a:hover {
    background: #0ef;
    color: #081b29;
    transform: translateY(-5px);
    box-shadow: 0 0 20px #0ef;
}

/*==========================
        BUTTONS
==========================*/

.home-buttons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.btn-box,
.btn-outline {
    padding: 14px 30px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    transition: .35s;
}

.btn-box {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px rgba(0, 238, 255, .4);
}

.btn-box:hover {
    transform: translateY(-4px);
    box-shadow: 0 0 35px rgba(0, 238, 255, .8);
}

.btn-outline {
    border: 2px solid #0ef;
    color: #0ef;
}

.btn-outline:hover {
    background: #0ef;
    color: #081b29;
}

/*==========================
        IMAGE
==========================*/

.home-image {
    flex: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-image img {
    width: 100%;
    max-width: 720px;
    height: auto;
    object-fit: contain;
}

/*==========================
      MOBILE RESPONSIVE
==========================*/

@media (min-width: 1200px) {

    .home-image {
        transform: translateX(40px);
        margin-bottom: 160px;
    }

}

@media (max-width:992px) {

    .home {
        flex-direction: column-reverse;
        text-align: center;
        gap: 40px;
    }

    .home-content {
        max-width: 100%;
    }

    .home-image img {
        max-width: 360px;
    }

    .home-sci {
        justify-content: center;
    }

    .home-buttons {
        justify-content: center;
    }

}

@media (max-width:768px) {

    .home {
        padding: 120px 8% 60px;
    }

    .home-content h1 {
        font-size: 3rem;
    }

    .home-content h2 {
        font-size: 1.6rem;
    }

    .home-content h3 {
        font-size: 1.5rem;
    }

    .home-content p {
        font-size: 1rem;
    }

    .home-image img {
        max-width: 290px;
    }

}

@media (max-width:480px) {

    .home-content h1 {
        font-size: 2.5rem;
    }

    .home-content h2 {
        font-size: 1.35rem;
    }

    .home-content h3 {
        font-size: 1.2rem;
    }

    .home-image img {
        max-width: 240px;
    }

    .btn-box,
    .btn-outline {
        width: 100%;
        text-align: center;
    }

}


@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/*======================================
            ABOUT SECTION
=======================================*/

.about-section {
    padding: 100px 4%;
}

.section-title {
    text-align: center;
    margin-bottom: 70px;
}

.section-title h2 {
    font-size: 60px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
}

.section-title h2 span {
    color: #0ef;
}

.section-title p {
    max-width: 760px;
    margin: auto;
    color: #bdbdbd;
    font-size: 18px;
    line-height: 1.8;
}

.about-container {
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: 420px 1fr;
    gap: 70px;
    align-items: center;
}

.about-image {
    display: flex;
    justify-content: center;
}

.image-card {
    position: relative;
    width: 100%;
    max-width: 400px;
    background: #0c1f33;
    border: 1px solid rgba(0, 238, 255, .15);
    border-radius: 24px;
    overflow: hidden;
    transition: .4s ease;
    margin-bottom: 180px;
}

.image-card:hover {
    transform: translateY(-10px);
    border-color: #0ef;
    box-shadow:
        0 0 25px rgba(0, 238, 255, .18),
        0 0 55px rgba(0, 238, 255, .08);
}

.image-card img {
    width: 120%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    object-fit: cover;
}

.about-content h3 {
    font-size: 42px;
    color: #fff;
    margin-bottom: 15px;
    line-height: 1.3;
}

.about-content h3 span {
    color: #0ef;
}

.about-content h4 {
    color: #d5d5d5;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 30px;
}

.about-description {
    color: #c7c7c7;
    font-size: 17px;
    line-height: 1.9;
    margin-bottom: 22px;
}

.about-description strong {
    color: #fff;
    font-weight: 600;
}

.about-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    margin: 35px 0;
}

.about-skills span {
    padding: 10px 20px;
    border-radius: 30px;
    background: rgba(0, 238, 255, .08);
    border: 1px solid rgba(0, 238, 255, .18);
    color: #0ef;
    font-size: 15px;
    font-weight: 500;
    transition: .35s ease;
    cursor: default;
}

.about-skills span:hover {
    background: #0ef;
    color: #081b29;
    transform: translateY(-4px);
    box-shadow:
        0 0 12px rgba(0, 238, 255, .35);
}

.about-buttons {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.about-buttons .resume-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 16px 30px;
    background: #0ef;
    color: #081b29;
    border-radius: 12px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: .35s ease;
}

.about-buttons .resume-btn:hover {
    background: #081b29;
    color: #0ef;
    box-shadow:
        0 0 12px #0ef,
        0 0 28px rgba(0, 238, 255, .35);
}

.project-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 16px 30px;
    border: 2px solid #0ef;
    border-radius: 12px;
    color: #0ef;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: .35s ease;
}

.project-btn:hover {
    background: #0ef;
    color: #081b29;
    box-shadow:
        0 0 12px #0ef,
        0 0 28px rgba(0, 238, 255, .35);
}

.resume-btn i,
.project-btn i {
    font-size: 15px;
    transition: .35s ease;
}

.resume-btn:hover i,
.project-btn:hover i {
    transform: translateX(4px);
}

.about-highlights {
    max-width: 1400px;
    margin: 70px auto 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.highlight-card {
    background: #0c1f33;
    border: 1px solid rgba(0, 238, 255, .15);
    border-radius: 20px;
    padding: 35px 25px;
    text-align: center;
    transition: .4s ease;
    position: relative;
    overflow: hidden;
    animation: fadeUp .8s ease forwards;
    opacity: 0;
}

.highlight-card:nth-child(1) {
    animation-delay: .1s;
}

.highlight-card:nth-child(2) {
    animation-delay: .2s;
}

.highlight-card:nth-child(3) {
    animation-delay: .3s;
}

.highlight-card:nth-child(4) {
    animation-delay: .4s;
}

.highlight-card:hover {
    transform: translateY(-10px);
    border-color: #0ef;
    box-shadow:
        0 0 20px rgba(0, 238, 255, .18),
        0 0 45px rgba(0, 238, 255, .08);
}


.highlight-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: -120%;
    width: 60%;
    height: 100%;
    background: linear-gradient(120deg,
            transparent,
            rgba(255, 255, 255, .08),
            transparent);
    transition: .8s;
}

.highlight-card:hover::before {
    left: 130%;
}

.highlight-icon {
    width: 70px;
    height: 70px;
    margin: 0 auto 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #0ef;
    color: #0ef;
    font-size: 28px;
    transition: .35s ease;
    position: relative;
}

.highlight-icon::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: currentColor;
    filter: blur(18px);
    opacity: .15;
    z-index: -1;
}

.highlight-card:hover .highlight-icon {
    transform: rotate(8deg) scale(1.08);
    box-shadow:
        0 0 18px rgba(0, 238, 255, .45);
}

.highlight-card h3 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 15px;
    transition: .3s;
}

.highlight-card:hover h3 {
    color: #0ef;
}

.highlight-card h4 {
    color: #0ef;
    font-size: 28px;
    margin-bottom: 18px;
}

.highlight-card p {
    color: #c7c7c7;
    font-size: 15px;
    line-height: 1.7;
    margin-bottom: 18px;
}

.highlight-card span {
    display: inline-block;
    color: #9f9f9f;
    font-size: 14px;
}

@media(max-width:1200px) {

    .about-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .about-image {
        margin-bottom: 20px;
    }

    .about-skills {
        justify-content: center;
    }

    .about-buttons {
        justify-content: center;
    }

    .about-highlights {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:768px) {

    .about-section {
        padding: 90px 25px;
    }

    .section-title {
        margin-bottom: 50px;
    }

    .section-title h2 {
        font-size: 45px;
    }

    .section-title p {
        font-size: 16px;
    }

    .about-content h3 {
        font-size: 34px;
    }

    .about-content h4 {
        font-size: 22px;
    }

    .about-description {
        font-size: 16px;
    }

    .about-highlights {
        grid-template-columns: 1fr;
        gap: 22px;
    }

    .highlight-card {
        padding: 30px 22px;
    }
}

@media(max-width:480px) {
    .section-title h2 {
        font-size: 36px;
    }

    .section-title p {
        font-size: 15px;
        line-height: 1.7;
    }

    .about-content h3 {
        font-size: 30px;
    }

    .about-content h4 {
        font-size: 20px;
    }

    .about-description {
        font-size: 15px;
    }

    .about-skills {
        justify-content: center;
    }

    .about-buttons {
        flex-direction: column;
    }

    .about-buttons a {
        width: 100%;
    }

    .image-card {
        max-width: 320px;
    }

    .highlight-icon {
        width: 60px;
        height: 60px;
        font-size: 24px;
    }

    .highlight-card h3 {
        font-size: 22px;
    }

    .highlight-card h4 {
        font-size: 24px;
    }
}

.about-container {
    animation: fadeUp .8s ease forwards;
}

.about-highlights {
    animation: fadeUp 1s ease forwards;
}

/*=========================
        SKILLS SECTION
==========================*/

.skills-section {
    max-width: 1400px;
    margin: auto;
    padding: 100px 8%;
    background: #081b29;
}

.skills-heading {
    text-align: center;
    margin-bottom: 70px;
}

.skills-heading h2 {
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}

.skills-heading h2 span {
    color: #0ef;
}

.skills-heading p {
    text-align: center;
    max-width: 720px;
    margin: auto;
    color: #b8b8b8;
    font-size: 18px;
    line-height: 1.8;
}

/*=========================
      SKILLS GRID
==========================*/

.skills-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
}

.skills-row {
    display: flex;
    justify-content: center;
    gap: 28px;
    margin-bottom: 14px;
}

.skills-row:last-child .skill-card {
    width: 275px;
}

/*=========================
        SKILL CARD
==========================*/

.skill-card {
    background: #0c1f33;
    border: 1px solid rgba(0, 238, 255, 0.15);
    border-radius: 20px;
    padding: 35px 25px;
    transition: 0.4s ease;
    position: relative;
    overflow: hidden;
    min-height: auto;
    width: 300px;
    animation: fadeUp .8s ease forwards;
    opacity: 0;
}

.skill-card:hover {
    transform: translateY(-10px);
    border-color: #0ef;
    box-shadow: 0 0 25px rgba(0, 238, 255, .18);
}

/*=========================
        ICON
==========================*/

.skill-icon {
    width: 60px;
    height: 60px;
    font-size: 24px;
    margin: 0 auto 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0ef;
    color: #0ef;
    transition: .4s
}

.skill-card:hover .skill-icon {
    transform: rotate(10deg) scale(1.08);
    box-shadow: 0 0 18px rgba(0, 238, 255, .5);
}

/*=========================
      ICON COLORS
==========================*/

.skill-icon.purple {
    color: #8b5cf6;
    border-color: #8b5cf6;
}

.skill-icon.pink {
    color: #d946ef;
    border-color: #d946ef;
}

.skill-icon.blue {
    color: #3b82f6;
    border-color: #3b82f6;
}

.skill-icon.green {
    color: #10b981;
    border-color: #10b981;
}

.skill-icon.orange {
    color: #f59e0b;
    border-color: #f59e0b;
}

.skill-icon.cyan {
    color: #06b6d4;
    border-color: #06b6d4;
}


/*=========================
      CARD TITLE
==========================*/

.skill-card h3 {
    text-align: center;
    font-size: 24px;
    color: #fff;
    margin-bottom: 30px;
    font-weight: 600;
}


/*=========================
        LIST
==========================*/

.skill-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.skill-card ul li {
    position: relative;
    color: #d8d8d8;
    font-size: 17px;
    padding: 10px 0 10px 24px;
    font-size: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, .08);
}


/*=========================
        BULLET
==========================*/

.skill-card ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #0ef;
}


/* Last Item */

.skill-card ul li:last-child {
    border-bottom: none;
}

/*====================================
        CARD ANIMATION
=====================================*/

.skill-card:nth-child(1) {
    animation-delay: 0.1s;
}

.skill-card:nth-child(2) {
    animation-delay: 0.2s;
}

.skill-card:nth-child(3) {
    animation-delay: 0.3s;
}

.skill-card:nth-child(4) {
    animation-delay: 0.4s;
}

.skill-card:nth-child(5) {
    animation-delay: 0.5s;
}

.skill-card:nth-child(6) {
    animation-delay: 0.6s;
}

.skill-card:nth-child(7) {
    animation-delay: 0.7s;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*====================================
        HOVER EFFECTS
=====================================*/

.skill-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, .06),
            transparent);
    transition: .8s;
}

.skill-card:hover::before {
    left: 100%;
}

.skill-card:hover h3 {
    color: #0ef;
}

.skill-card ul li {
    transition: .3s;
}

.skill-card ul li:hover {
    padding-left: 36px;
    color: #ffffff;
}

.skill-card ul li:hover::before {
    transform: translateY(-50%) scale(1.5);
}


/*====================================
        ICON GLOW
=====================================*/

.skill-icon {
    position: relative;
}

.skill-icon::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    filter: blur(18px);
    opacity: .18;
    background: currentColor;
    z-index: -1;
}


/*====================================
      HEADING ANIMATION
=====================================*/

.skills-heading h2 {
    animation: fadeDown .8s ease;
}

.skills-heading p {
    animation: fadeUp .9s ease;
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/*====================================
        RESPONSIVE
=====================================*/

@media(max-width:992px) {

    .skill-card h3 {
        font-size: 24px;
    }
}

@media (max-width:768px) {

    .skills-section {
        padding: 70px 20px;
    }

    .skills-heading h2 {
        font-size: 40px;
    }

    .skills-heading p {
        font-size: 16px;
    }

    .skills-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .skills-row {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-bottom: 0;
    }

    .skill-card {
        width: 100%;
        max-width: 380px;
        min-height: auto;
        padding: 30px 22px;
    }

    .skills-row:last-child .skill-card {
        width: 100%;
        max-width: 380px;
    }

    .skill-card h3 {
        font-size: 22px;
    }

    .skill-card ul li {
        font-size: 16px;
    }
}

@media(max-width:480px) {

    .skills-heading h2 {
        font-size: 34px;
    }

    .skills-heading p {
        font-size: 15px;
        line-height: 1.7;
    }

    .skill-icon {
        width: 65px;
        height: 65px;
        font-size: 26px;
    }

    .skill-card h3 {
        font-size: 20px;
    }

    .skill-card ul li {
        font-size: 15px;
    }
}


/*======================================
        PROJECTS SECTION
=======================================*/

.projects-section {
    padding: 100px 4%;
    background: linear-gradient(180deg,
            #081b29 0%,
            #0b2235 100%);
}

.projects-heading {
    text-align: center;
    margin-bottom: 70px;
}

.projects-heading h2 {
    font-size: 60px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
}

.projects-heading h2 span {
    color: #0ef;
}

.projects-heading p {
    max-width: 700px;
    margin: auto;
    color: #bdbdbd;
    font-size: 18px;
    line-height: 1.8;
}


/*======================================
        PROJECT CONTAINER
=======================================*/

.projects-container {
    max-width: 1450px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 35px;
}


/*======================================
          PROJECT CARD
=======================================*/

.project-card {
    background: #0c1f33;
    border: 1px solid rgba(0, 238, 255, .15);
    border-radius: 20px;
    overflow: hidden;
    transition: .4s;
    display: flex;
    flex-direction: column;
    position: relative;
    animation: fadeUp .8s ease forwards;
    opacity: 0;
    height: 100%;
}

/*======================================
          PROJECT IMAGE
=======================================*/

.project-image {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, .08);
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: .6s;
}


/*======================================
          PROJECT CONTENT
=======================================*/

.project-content {
    padding: 23px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.project-content h3 {
    color: #fff;
    font-size: 22px;
    margin-bottom: 18px;
    line-height: 1.3;
}

.project-content p {
    color: #c7c7c7;
    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 22px;
}

/*======================================
          TECH STACK
=======================================*/

.tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 30px;
}

.tech-stack span {
    padding: 8px 18px;
    border-radius: 30px;
    background: #10293f;
    border: 1px solid rgba(0, 238, 255, .18);
    color: #0ef;
    font-size: 14px;
}


/*======================================
          PROJECT STATS
=======================================*/

.project-stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-bottom: 30px;
}

.stat-box {
    background: #11273b;
    border-radius: 15px;
    padding: 18px 10px;
    text-align: center;
}

.stat-box h4 {
    color: #0ef;
    font-size: 24px;
    margin-bottom: 6px;
}

.stat-box span {
    color: #c7c7c7;
    font-size: 13px;
}


/*======================================
          GITHUB BUTTON
=======================================*/

.project-buttons {
    display: flex;
    margin-top: auto;
}

.github-btn {
    width: 100%;
    text-align: center;
    padding: 15px;
    border-radius: 12px;
    background: #0ef;
    color: #081b29;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    transition: .3s;
}

.github-btn i {
    margin-right: 10px;
}


/*======================================
        PROJECT CARD HOVER
=======================================*/



.project-card:nth-child(1) {
    animation-delay: .2s;
}

.project-card:nth-child(2) {
    animation-delay: .4s;
}

.project-card:nth-child(3) {
    animation-delay: .6s;
}

.project-card:hover {
    transform: translateY(-12px);
    border-color: #0ef;
    box-shadow:
        0 0 25px rgba(0, 238, 255, .15),
        0 0 60px rgba(0, 238, 255, .08);
}


/*======================================
            CARD SHINE
=======================================*/

.project-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: -120%;
    width: 60%;
    height: 100%;
    background: linear-gradient(120deg,
            transparent,
            rgba(255, 255, 255, .08),
            transparent);
    transition: .8s;
}

.project-card:hover::before {
    left: 130%;
}


/*======================================
            IMAGE EFFECT
=======================================*/

.project-card:hover .project-image img {
    transform: scale(1.08);
}


/*======================================
          TITLE HOVER
=======================================*/

.project-card:hover h3 {
    color: #0ef;
}

/*======================================
          TECH STACK
=======================================*/

.tech-stack span {
    transition: .3s;
    cursor: default;
}

.tech-stack span:hover {
    background: #0ef;
    color: #081b29;
    transform: translateY(-3px);
}

/*======================================
          STAT BOX
=======================================*/

.stat-box {
    transition: .35s;
}

.stat-box:hover {
    background: #153652;
    transform: translateY(-5px);
}

.stat-box:hover h4 {
    color: #ffffff;
}


/*======================================
         GITHUB BUTTON
=======================================*/

.github-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.github-btn:hover {
    background: #081b29;
    color: #0ef;
    box-shadow:
        0 0 10px #0ef,
        0 0 25px rgba(0, 238, 255, .35);
}

/*======================================
        MORE PROJECTS SECTION
=======================================*/

.more-projects {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.more-project-btn {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 16px 35px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #0ef;
    border: 2px solid #0ef;
    transition: .4s ease;
}

.more-project-btn:hover {
    background: #0ef;
    color: #081b29;
    box-shadow:
        0 0 15px #0ef,
        0 0 35px rgba(0, 238, 255, .35);
}

.more-project-btn i {
    font-size: 20px;
}

/*======================================
        IMAGE IMPROVEMENTS
=======================================*/

.project-card:hover .project-image img {
    filter: brightness(1.08);
}

/*======================================
        RESPONSIVE
=======================================*/

@media (max-width:1200px) {
    .projects-container {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width:768px) {
    .projects-section {
        padding: 90px 25px;
    }

    .projects-heading {
        margin-bottom: 50px;
    }

    .projects-heading h2 {
        font-size: 45px;
    }

    .projects-heading p {
        font-size: 16px;
    }

    .projects-container {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .project-image {
        height: 220px;
    }

    .project-stats {
        grid-template-columns: repeat(2, 1fr);
    }

    .tech-stack {
        gap: 10px;
    }

    .tech-stack span {
        font-size: 13px;
        padding: 8px 14px;
    }

    .github-btn {
        font-size: 17px;
    }

    .more-project-btn {
        font-size: 16px;
        padding: 14px 28px;
    }
}


@media (max-width:480px) {
    .projects-heading h2 {
        font-size: 36px;
    }

    .projects-heading p {
        font-size: 15px;
        line-height: 1.7;
    }

    .project-image {
        height: 190px;
    }

    .project-stats {
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
    }

    .stat-box {
        padding: 14px 8px;
    }

    .stat-box h4 {
        font-size: 20px;
    }

    .stat-box span {
        font-size: 12px;
    }

    .more-project-btn {
        width: 100%;
        justify-content: center;
    }
}

/*======================================
            PROJECT TYPE
=======================================*/

.project-type {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 18px;
    margin-bottom: 20px;
    border-radius: 30px;
    background: rgba(0, 238, 255, .08);
    border: 1px solid rgba(0, 238, 255, .25);
    color: #0ef;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .5px;
    transition: .3s ease;
}

.project-type:hover {
    background: #0ef;
    color: #081b29;
    transform: translateY(-2px);
    box-shadow:
        0 0 12px rgba(0, 238, 255, .35);
}

/*======================================
      CERTIFICATION SECTION
=======================================*/

.certification-section {
    padding: 100px 4%;
    background: linear-gradient(180deg,
            #0b2235 0%,
            #081b29 100%);
}

.certification-heading {
    text-align: center;
    margin-bottom: 70px;

}

.certification-heading h2 {
    font-size: 60px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
}

.certification-heading h2 span {
    color: #0ef;
}

.certification-heading p {
    max-width: 720px;
    margin: auto;
    color: #bdbdbd;
    font-size: 18px;
    line-height: 1.8;
}

/*======================================
      CERTIFICATION GRID
=======================================*/

.certification-container {
    max-width: 1450px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
}

/*======================================
      CERTIFICATE CARD
=======================================*/

.certificate-card {
    background: #0c1f33;
    border: 1px solid rgba(0, 238, 255, .15);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    gap: 22px;
    transition: .4s;
    overflow: hidden;
    position: relative;
    animation: fadeUp .8s ease forwards;
    opacity: 0;
    height: 100%;
}

/*======================================
      CERTIFICATE ICON
=======================================*/

.certificate-icon {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0ef;
    color: #0ef;
    font-size: 28px;
}

/*======================================
      CERTIFICATE CONTENT
=======================================*/

.certificate-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/*======================================
      CERTIFICATE TYPE
=======================================*/

.certificate-type {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 7px 16px;
    margin-bottom: 18px;
    border-radius: 30px;
    background: rgba(0, 238, 255, .08);
    border: 1px solid rgba(0, 238, 255, .2);
    color: #0ef;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .5px;
}

/*======================================
      TITLE
=======================================*/

.certificate-content h3 {
    color: #fff;
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 18px;
}

/*======================================
      DESCRIPTION
=======================================*/

.certificate-content p {
    color: #c7c7c7;
    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 25px;
}

/*======================================
      CERTIFICATE INFO
=======================================*/

.certificate-info {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    margin-bottom: 25px;
}

.certificate-info span {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #bdbdbd;
    font-size: 14px;
}

.certificate-info i {
    color: #0ef;
    font-size: 15px;
}

/*======================================
      VIEW CERTIFICATE BUTTON
=======================================*/

.certificate-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    background: #0ef;
    color: #081b29;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: .35s ease;
}

.certificate-btn:hover {
    background: #081b29;
    color: #0ef;
    box-shadow:
        0 0 10px #0ef,
        0 0 25px rgba(0, 238, 255, .35);
}

.certificate-btn i {
    font-size: 15px;
}

/*======================================
      CARD ANIMATION
=======================================*/

.certificate-card:nth-child(1) {
    animation-delay: .1s;
}

.certificate-card:nth-child(2) {
    animation-delay: .2s;
}

.certificate-card:nth-child(3) {
    animation-delay: .3s;
}

.certificate-card:nth-child(4) {
    animation-delay: .4s;
}

.certificate-card:nth-child(5) {
    animation-delay: .5s;
}

/*======================================
      CARD HOVER
=======================================*/

.certificate-card:hover {
    transform: translateY(-10px);
    border-color: #0ef;
    box-shadow:
        0 0 20px rgba(0, 238, 255, .18),
        0 0 50px rgba(0, 238, 255, .08);
}

/*======================================
      SHINE EFFECT
=======================================*/

.certificate-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: -120%;
    width: 60%;
    height: 100%;
    background: linear-gradient(120deg,
            transparent,
            rgba(255, 255, 255, .08),
            transparent);
    transition: .8s;
}

.certificate-card:hover::before {
    left: 130%;
}

/*======================================
      ICON EFFECT
=======================================*/

.certificate-icon {
    position: relative;
    transition: .35s ease;
}

.certificate-icon::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: currentColor;
    filter: blur(18px);
    opacity: .15;
    z-index: -1;
}

.certificate-card:hover .certificate-icon {
    transform: rotate(8deg) scale(1.08);
    box-shadow:
        0 0 18px rgba(0, 238, 255, .45);
}

/*======================================
      TITLE & BADGE HOVER
=======================================*/

.certificate-card:hover h3 {
    color: #0ef;
}

.certificate-type {
    transition: .3s ease;
}

.certificate-type:hover {
    background: #0ef;
    color: #081b29;
}

/*======================================
      INFO HOVER
=======================================*/

.certificate-info span {
    transition: .3s ease;
}

.certificate-info span:hover {
    color: #ffffff;
}

/*======================================
      EQUAL CARD HEIGHT
=======================================*/

.certificate-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.certificate-btn {
    margin-top: auto;
}

/*======================================
      BETTER TEXT SPACING
=======================================*/

.certificate-content h3 {
    min-height: 68px;
}

.certificate-content p {
    flex: 1;
}

/*======================================
      SMOOTH TRANSITIONS
=======================================*/

.certificate-card,
.certificate-icon,
.certificate-btn,
.certificate-type {
    transition: .35s ease;
}

/*======================================
      RESPONSIVE
=======================================*/

@media (max-width:1200px) {
    .certification-container {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width:768px) {
    .certification-section {
        padding: 90px 25px;
    }

    .certification-heading {
        margin-bottom: 50px;
    }

    .certification-heading h2 {
        font-size: 45px;
    }

    .certification-heading p {
        font-size: 16px;
    }

    .certification-container {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .certificate-card {
        padding: 25px;
        gap: 18px;
    }

    .certificate-icon {
        width: 65px;
        height: 65px;
        font-size: 26px;
    }

    .certificate-content h3 {
        font-size: 22px;
        min-height: auto;
    }

    .certificate-content p {
        font-size: 15px;
    }

    .certificate-btn {
        font-size: 15px;
        padding: 13px;
    }

}


@media (max-width:480px) {
    .certification-heading h2 {
        font-size: 36px;
    }

    .certification-heading p {
        font-size: 15px;
        line-height: 1.7;
    }

    .certificate-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 22px;
    }

    .certificate-content {
        align-items: center;
    }

    .certificate-info {
        justify-content: center;
    }

    .certificate-type {
        margin-bottom: 15px;
    }

    .certificate-content h3 {
        font-size: 20px;
    }

    .certificate-content p {
        font-size: 14px;
    }

    .certificate-btn {
        width: 100%;
    }
}

/*======================================
      ICON COLOUR
=======================================*/

.certificate-icon.aws {
    color: #FF9900;
    border-color: #FF9900;
}

.certificate-icon.deloitte {
    color: #86BC25;
    border-color: #86BC25;
}

.certificate-icon.tata {
    color: #2563eb;
    border-color: #2563eb;
}

.certificate-icon.hp {
    color: #0ef;
    border-color: #0ef;
}

.certificate-icon.cwh {
    color: #8b5cf6;
    border-color: #8b5cf6;
}

/*======================================
      HOVER COLOUR
=======================================*/

.certificate-card.hp:hover {
    border-color: #00E5FF;
}

.certificate-card.aws:hover {
    border-color: #FF9900;
}

.certificate-card.deloitte:hover {
    border-color: #86BC25;
}

.certificate-card.tata:hover {
    border-color: #2563EB;
}

.certificate-card.cwh:hover {
    border-color: #8B5CF6;
}


/*======================================
        CONTACT SECTION START
=======================================*/

.contact-section {
    padding: 100px 4%;
    background: #081b29;
}

.contact-heading {
    text-align: center;
    margin-bottom: 70px;
}

.contact-heading h2 {
    font-size: 60px;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 700;
}

.contact-heading h2 span {
    color: #0ef;
}

.contact-heading p {
    max-width: 760px;
    margin: auto;
    color: #bdbdbd;
    font-size: 18px;
    line-height: 1.8;
}

/*======================================
        CONTACT CONTAINER
=======================================*/

.contact-container {
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 50px;
    align-items: start;
}

/*======================================
        LEFT PANEL
=======================================*/

.contact-info {
    background: #0c1f33;
    border: 1px solid rgba(0, 238, 255, .15);
    border-radius: 20px;
    padding: 35px;
    animation: fadeUp .8s ease forwards;
    height: 100%;
}

.contact-info h3 {
    font-size: 32px;
    color: #fff;
    margin-bottom: 35px;
}

/*======================================
        INFO BOX
=======================================*/

.info-box {
    display: flex;
    align-items: flex-start;
    gap: 18px;
    margin-bottom: 30px;
}

.info-box i {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #0ef;
    color: #0ef;
    font-size: 22px;
    flex-shrink: 0;
}

.info-box h4 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 8px;
}

.info-box p {
    color: #bdbdbd;
    line-height: 1.7;
}

.info-box a {
    color: #bdbdbd;
    text-decoration: none;
    transition: .3s;
}

.info-box a:hover {
    color: #0ef;
}

/*======================================
        SOCIAL ICONS
=======================================*/

.contact-social {
    display: flex;
    gap: 18px;
    margin: 35px 0;
}

.contact-social a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0ef;
    color: #0ef;
    text-decoration: none;
    font-size: 20px;
    transition: .35s;
}

.contact-social a:hover {
    background: #0ef;
    color: #081b29;
    transform: translateY(-5px);
}

/*======================================
        RESUME BUTTON
=======================================*/

.resume-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 16px;
    background: #0ef;
    color: #081b29;
    border-radius: 12px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    transition: .35s;
}

.resume-btn:hover {
    background: #081b29;
    color: #0ef;
    box-shadow:
        0 0 12px #0ef,
        0 0 30px rgba(0, 238, 255, .35);
}

/*======================================
        CONTACT FORM
=======================================*/

.contact-form {
    background: #0c1f33;
    border: 1px solid rgba(0, 238, 255, .15);
    border-radius: 20px;
    padding: 35px;
    height: 100%;
    animation: fadeUp 1s ease forwards;
}

/*======================================
        FORM LAYOUT
=======================================*/

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/*======================================
        INPUTS
=======================================*/

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 16px 18px;
    border: 1px solid rgba(255, 255, 255, .08);
    border-radius: 12px;
    background: #11273b;
    color: #fff;
    font-size: 16px;
    outline: none;
    transition: .35s ease;
}

/*======================================
        PLACEHOLDER
=======================================*/

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #a7a7a7;
}

/*======================================
        TEXTAREA
=======================================*/

.contact-form textarea {
    resize: none;
    min-height: 200px;
}

/*======================================
        INPUT FOCUS
=======================================*/

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #0ef;
    box-shadow:
        0 0 12px rgba(0, 238, 255, .25);
}

/*======================================
        SEND BUTTON
=======================================*/

.send-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 16px;
    border: none;
    border-radius: 12px;
    background: #0ef;
    color: #081b29;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: .35s ease;
}

/*======================================
        BUTTON HOVER
=======================================*/

.send-btn:hover {
    background: #081b29;
    color: #0ef;
    box-shadow:
        0 0 12px #0ef,
        0 0 30px rgba(0, 238, 255, .35);
}

.send-btn i {
    font-size: 16px;
}

/*======================================
        FORM HOVER
=======================================*/

.contact-form:hover {
    border-color: #0ef;
    box-shadow:
        0 0 20px rgba(0, 238, 255, .15),
        0 0 45px rgba(0, 238, 255, .08);
}

/*======================================
        INFO BOX HOVER
=======================================*/

.info-box {
    transition: .35s ease;
}

.info-box:hover {
    transform: translateX(8px);
}

.info-box:hover i {
    background: #0ef;
    color: #081b29;
    box-shadow:
        0 0 15px rgba(0, 238, 255, .35);
}

/*======================================
        ICON ANIMATION
=======================================*/

.info-box i {
    transition: .35s ease;
}

.contact-social a i {
    transition: .35s ease;
}

.contact-social a:hover i {
    transform: rotate(15deg);
}

/*======================================
        BUTTON ANIMATION
=======================================*/

.resume-btn i,
.send-btn i {
    transition: .35s ease;
}

.resume-btn:hover i,
.send-btn:hover i {
    transform: translateX(4px);
}

/*======================================
        RESPONSIVE
=======================================*/

@media (max-width:1200px) {
    .contact-container {
        grid-template-columns: 1fr;
        gap: 35px;
    }
}

@media (max-width:768px) {
    .contact-section {
        padding: 90px 25px;
    }

    .contact-heading {
        margin-bottom: 50px;
    }

    .contact-heading h2 {
        font-size: 45px;
    }

    .contact-heading p {
        font-size: 16px;
    }

    .contact-info,
    .contact-form {
        padding: 28px;
    }

    .contact-info h3 {
        font-size: 28px;
    }

    .input-group {
        grid-template-columns: 1fr;
        gap: 18px;
    }

    .info-box {
        gap: 15px;
    }

    .info-box i {
        width: 50px;
        height: 50px;
        font-size: 20px;
    }

    .resume-btn,
    .send-btn {
        font-size: 16px;
        padding: 15px;
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 5%;
        background: #081b29;
        border-top: .1rem solid rgba(0, 255, 255, .2);
        display: none;
        flex-direction: column;
    }

    .navbar.active {
        display: flex;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 1.5rem 0;
        text-align: center;
    }

    .header {
        padding: 2rem 5%;
    }
}

@media (max-width:480px) {
    .contact-heading h2 {
        font-size: 36px;
    }

    .contact-heading p {
        font-size: 15px;
        line-height: 1.7;
    }

    .contact-info,
    .contact-form {
        padding: 22px;
    }

    .contact-info h3 {
        font-size: 24px;
        margin-bottom: 25px;
    }

    .info-box {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .info-box h4 {
        font-size: 17px;
    }

    .info-box p {
        font-size: 14px;
    }

    .contact-social {
        justify-content: center;
        flex-wrap: wrap;
    }

    .contact-social a {
        width: 45px;
        height: 45px;
        font-size: 18px;
    }

    .contact-form textarea {
        min-height: 170px;
    }

    .resume-btn,
    .send-btn {
        width: 100%;
    }
}

/*======================================
        CARD HOVER
=======================================*/

.contact-info:hover,
.contact-form:hover {
    border-color: #0ef;
    box-shadow:
        0 0 20px rgba(0, 238, 255, .18),
        0 0 45px rgba(0, 238, 255, .08);
}

/*================================
   -----TOP SCROLL BUTTON ------ 
 =================================*/

.top {
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}

.top i {
    color: #000000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}

/*==================== 
   -------FOOTER------- 
   ====================*/

.footer {
    background: #03121d;
    border-top: 1px solid rgba(255, 255, 255, .08);
    padding: 70px 9% 25px;
}

.footer-container {
    max-width: 1300px;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 70px;
}

.footer-about h2 {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 18px;
}

.footer-about p {
    color: #9fb0be;
    font-size: 1.2rem;
    line-height: 1.8;
    max-width: 420px;
}

.footer-links h3,
.footer-social h3 {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 22px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer-links a {
    color: #9fb0be;
    font-size: 1.15rem;
    text-decoration: none;
    transition: .25s;
}

.footer-links a:hover {
    color: #0ef;
    padding-left: 5px;
}

.footer-icons {
    display: flex;
    gap: 16px;
    margin-top: 8px;
}

.footer-icons a {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 238, 255, .25);
    border-radius: 50%;
    color: #9fb0be;
    font-size: 1.8rem;
    text-decoration: none;
    transition: .3s;
}

.footer-icons a:hover {
    color: #0ef;
    border-color: #0ef;
    background: rgba(0, 238, 255, .08);
}

.footer-bottom {
    max-width: 1300px;
    margin: 55px auto 0;
    padding-top: 22px;
    border-top: 1px solid rgba(255, 255, 255, .08);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.footer-bottom p {
    color: #7f95a5;
    font-size: 1.2rem;
}

.footer-bottom span {
    color: #0ef;
}

@media(max-width:991px) {

    .footer {
        padding: 60px 7% 25px;
    }

    .footer-container {
        grid-template-columns: 1fr;
        gap: 45px;
    }

    .footer-about {
        text-align: center;
    }

    .footer-about p {
        margin: auto;
    }

    .footer-links {
        align-items: center;
    }

    .footer-social {
        text-align: center;
    }

    .footer-icons {
        justify-content: center;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
}

@media(max-width:576px) {
    .footer-about h2 {
        font-size: 1.8rem;
    }

    .footer-about p {
        font-size: 1.4rem;
    }

    .footer-links h3,
    .footer-social h3 {
        font-size: 1.5rem;
    }

    .footer-links a {
        font-size: 1.35rem;
    }

    .footer-bottom p {
        font-size: 1.25rem;
    }
}


/*==================== FADE ANIMATION ====================*/

.fade-section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity .8s ease,
        transform .8s ease;
}

.fade-section.show {
    opacity: 1;
    transform: translateY(0);
}

/*==========  ERROR PAGE ================*/

.error-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #081b29;
    color: #fff;
}

.error-page h1 {
    font-size: 8rem;
    color: #00eeff;
}

.error-page h2 {
    font-size: 2rem;
    margin: 20px 0;
}

.error-page p {
    color: #b5b5b5;
    max-width: 500px;
    margin-bottom: 35px;
}

.error-page .btn {
    padding: 12px 35px;
    border-radius: 40px;
    background: #00eeff;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
}